parameters:
    level: max
    paths:
    - app
    - tests
    - bootstrap
    ignoreErrors:
        - '#Call to method .+ of internal class Pest\\#'

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
