parameters:
    level: max
    paths:
    - app
    - tests
    - bootstrap
    excludePaths:
        - tests/programs/functions/return_type_mismatch.php
        - tests/programs/semantic/assignment_type_mismatch.php
        - tests/programs/classes/
        - tests/programs/self_compile/
        - tests/programs/functions/default_params.php
        - tests/programs/functions/named_params.php
    ignoreErrors:
        - '#Call to method .+ of internal class Pest\\#'

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
