parameters:
    level: max
    paths:
    - app
    - tests
    - bootstrap
    excludePaths:
        - tests/programs/functions/return_type_mismatch.php
        - tests/programs/classes/
    ignoreErrors:
        - '#Call to method .+ of internal class Pest\\#'

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
