<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Feature">
            <directory>./tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./app</directory>
        </include>
        <exclude>
            <!-- Token stream is exercised heavily by Feature tests; line coverage here skews the total. -->
            <file>app/PicoHP/HandLexer/Lexer.php</file>
            <!-- Thin PhpParser token mirror and postprocess glue; covered indirectly via parser integration tests. -->
            <file>app/PicoHP/HandLexer/LexToken.php</file>
            <file>app/PicoHP/HandLexer/NativeTokenPipeline.php</file>
            <!-- CLI orchestration is covered by Feature builds and argv unit tests; keep line target on compiler passes. -->
            <file>app/Commands/BuildCommand.php</file>
        </exclude>
    </source>
</phpunit>
